#navbar-toggle-cbox {
  display: none;
}
#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}

.navbar-main {
  background-color: #e8a93f;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar.navbar-main a,
.navbar.navbar-main ul.navbar-nav a.nav-link {
  color: #222;
}

.navbar.navbar-main ul.navbar-nav a.nav-link.active {
  border-bottom: 1px solid #222;
}

.badge {
  padding: 1rem;
  background-color: #e8a93f;
  color: #0a1237;
  border-radius: 0.5rem;

  &:hover {
    border: 1px solid #080808;
  }
}

.ntld {
  background-color: #e8a93f;
}

.idn {
  background-color: #d64d61;
}

.privacy {
  background-color: #fe72b2;
  color: #080808;
}

.dnssec {
  background-color: #ffdf00;
}

.ipv6 {
  background-color: #1cc2ff;
}
