#navbar-toggle-cbox {
  display: none;
}
#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}

.navbar-main {
  background-color: #e8a93f;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar.navbar-main a,
.navbar.navbar-main ul.navbar-nav a.nav-link {
  color: #222;
}

.navbar.navbar-main ul.navbar-nav a.nav-link.active {
  border-bottom: 1px solid #222;
}
